<input class="form-control" type="text" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false" />
<input class="form-control" type="hidden" ng-model="submodel" placeholder="Typ" ng-keydown="selected=false" />
<input class="form-control" type="hidden" ng-model="idmodel" placeholder="Id" ng-keydown="selected=false" />
<div class="item" ng-hide="!model.length || selected">
    <table class="table table-striped table-condensed">
        <tr ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item.name, item.typ, item.id)" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
            <td style="width:100%">
                <div class="title">{{ item.name }}</div>
                <div class="title">{{ item.typ }}</div>
                <div>{{ item.id }}</div>
            </td>
        </tr>
    </table>
</div>